html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
  }
body {
    background: url('balloons.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#topSection{
    text-align: center;
}
#Contact {
    font-weight: 800;
    font-family: 'Playfair Display';
}
#title {
    color: #004F2D;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    text-align: center;
    padding-top: 1rem;
    font-weight: 900;
}
.title-one {
    color: #348AA7;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    text-align: center;
    padding-top: 1rem;
    font-weight: 900;
}
img {
    border-radius: 60%;
    overflow: hidden;
}
.learn {
    color: #EFF8E2;
    font-family: 'Playfair Display';
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    width: 50vw;
}
.learn1 {
    color: #FFFFFF;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}
.paras {
    color: #FFFFFF;
    font-family: 'Radio Canada';
    font-weight: 600;
    font-size: 1rem;
    width: 100%; 
}
#border1 {
    background-color: #348AA7;
    max-width: 90vw;
    max-height: fit-content;
    margin-top: 7vw;
    overflow-wrap: break-word;

}
#boxone {
    background-color:#004F2D;
    text-align: center;
}
.bottomboxes {
    text-align: center;
    margin-top: 12vw;
    margin-bottom: 2rem;
    margin-bottom: 10rem;
}
#boxtwo {
    background-color: #2E294E;
}
#boxthree {
    background-color: #F19953;
}
#navbar2 {
    color: #004F2D;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 1.25rem;
    text-align: center;
    margin-left: 1.5rem;
    margin-top: 2rem;
    text-decoration: none;

}
.fa-phone {
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-left: .2rem;
    margin-right: .5rem;
    color: #004F2D;
    font-weight: 700rem;
}
#number {
  text-decoration: none;
  color: #004F2D;
}
.fa-envelope {
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-left: rem;
    margin-right: .5rem;
    color: #348AA7;
}
#mail {
    text-decoration: none;
    color: #348AA7;
}
.dark-mode {
    background-image: url('darkballoons.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #348AA7;
    color: white;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    margin-left: .4rem;
    justify-content: center;
    margin-top: .5rem;
    margin-left: .5rem;
}
.linkedin-bcgd {
    width: 3rem;
    height: 3rem;
    background: #348AA7;
}
.bi-file-earmark-person {
    color: #004F2D;
    width: 3rem;
    height: 3rem;
    text-decoration: none;
    margin-top: 3rem;
}
#darkmode {
    background-color: transparent;
    border-style: none;
    position: fixed;
    bottom: 0;
    text-align: right;
    padding-bottom: 2rem;
    padding-right: 2rem;
    font-size: 2.5rem; 
    width: 2rem;
    margin-left: 97vw;
    color:#FFFFFF;
}
@media screen and (max-width: 500px) {
    #darkmode {
        display: hidden;
    } 
    html {
        background: url('balloons.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    } 
}
.fa-id-card-o {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin-top: .5rem;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-style: ridge;
    border-radius: 2rem;
    border: .2rem solid #FFFFFF;
}
.fa-folder-open-o {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin-top: .5rem;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-style: ridge;
    border-radius: 2rem;
    border: .2rem solid #FFFFFF;
}