body {
    margin: 0px;
    padding: 0px;
}
#topSection{
    text-align: center;
 }
#Contact {
    font-weight: 800;
    font-family: 'Playfair Display', serif;
 }
.title {
    color: #004F2D;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    padding-top: 1rem;
    }

img {
    border-radius: 60%;
    }
.learn {
    color: #EFF8E2;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    text-align: center;
    }
.learn1 {
        color: #DBBBF5;
        font-family: 'Playfair Display', serif;
        font-weight: 200;
        font-size: 2rem;
        text-align: center;
}
.paras {
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 1rem;
}
#border1 {
    background-color: #348AA7;
}
#boxone {
    background-color:#004F2D;
    text-align: center;
}
.bottomboxes {
    text-align: center;
}
#boxtwo {
    background-color: #2E294E;
}
#boxthree {
    background-color: #C84C09;
}

