iframe {
  text-align: center;
  width: 100vw;
  height: 95vh;
  margin-left: 20%;
  border-style: none;
  background: none;
}
body {
  background: radial-gradient(100% 100%, white, black);
}
@media screen and (max-width: 600px) {
  iframe {
    margin-left: 0%;
    width: 95vw
  }
}